<a href="https://colab.research.google.com/github/KendallScott/Machine-Learning/blob/main/Machine-Learning/Lab%203/Lab_3_stock.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 6.8 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 7.5 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 78.4 MB/s eta 0:00:00
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 14.2 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.8/112.8 KB 12.1 MB/s eta 0:00:00
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 10.9 MB/s eta 0:00:00
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.10)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 10.5 MB/s eta 0:00:00
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: appdirs, soupsieve, html5lib, frozendict, charset-normalizer, requests, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed appdirs-1.4.4 beautifulsoup4-4.11.2 charset-normalizer-3.1.0 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [ ]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style('whitegrid')
plt.style.use("fivethirtyeight")
%matplotlib inline

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

In [ ]:

# For reading stock data from yahoo
from pandas_datareader.data import DataReader
import yfinance as yf
from pandas_datareader import data as pdr

yf.pdr_override()

In [ ]:

# For time stamps
from datetime import datetime


# The tech stocks we'll use for this analysis
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

# Set up End and Start times for data grab
tech_list = ['AAPL', 'GOOG', 'MSFT', 'AMZN']

end = datetime.now()
start = datetime(end.year - 1, end.month, end.day)

In [ ]:

for stock in tech_list:
    globals()[stock] = yf.download(stock, start, end)
    

company_list = [AAPL, GOOG, MSFT, AMZN]
company_name = ["APPLE", "GOOGLE", "MICROSOFT", "AMAZON"]

for company, com_name in zip(company_list, company_name):
    company["company_name"] = com_name

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
df = pd.concat(company_list, axis=0)
df.tail(10)

,Open,High,Low,Close,Adj Close,Volume,company_name
Date,,,,,,,
2023-02-27,94.279999,94.779999,93.139999,93.760002,93.760002,47470300,AMAZON
2023-02-28,93.139999,94.690002,92.919998,94.230003,94.230003,43959300,AMAZON
2023-03-01,93.870003,94.680000,91.589996,92.169998,92.169998,52299500,AMAZON
2023-03-02,91.410004,92.230003,90.389999,92.129997,92.129997,55509400,AMAZON
2023-03-03,92.739998,94.940002,92.660004,94.900002,94.900002,55695300,AMAZON
2023-03-06,95.190002,96.550003,93.739998,93.750000,93.750000,52112400,AMAZON
2023-03-07,94.059998,95.089996,92.779999,93.550003,93.550003,49100700,AMAZON
2023-03-08,93.599998,94.169998,92.180000,93.919998,93.919998,44899100,AMAZON
2023-03-09,93.680000,96.209999,92.180000,92.250000,92.250000,56218700,AMAZON
2023-03-10,92.669998,93.570000,90.250000,90.730003,90.730003,69747500,AMAZON

In [ ]:
from pandas_datareader import data as pdr

import yfinance as yf
yf.pdr_override() # <== that's all it takes :-)

# download dataframe using pandas_datareader
data = pdr.get_data_yahoo("SPY", start="2017-01-01", end="2017-04-30")

[*********************100%***********************]  1 of 1 completed

In [ ]:
data

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2017-01-03,225.039993,225.830002,223.880005,225.240005,202.856537,91366500
2017-01-04,225.619995,226.750000,225.610001,226.580002,204.063354,78744400
2017-01-05,226.270004,226.580002,225.479996,226.399994,203.901245,78379000
2017-01-06,226.529999,227.750000,225.899994,227.210007,204.630768,71559900
2017-01-09,226.910004,227.070007,226.419998,226.460007,203.955292,46939700
...,...,...,...,...,...,...
2017-04-24,237.179993,237.410004,234.559998,237.169998,214.530228,119209900
2017-04-25,237.910004,238.949997,237.809998,238.550003,215.778473,76698300
2017-04-26,238.509995,239.529999,238.350006,238.399994,215.642807,84702500
2017-04-27,238.770004,238.949997,237.979996,238.600006,215.823761,57410300
2017-04-28,238.899994,238.929993,237.929993,238.080002,215.353348,63532800

In [ ]:
import yfinance as yf
data = yf.download("SPY AAPL", start="2017-01-01", end="2017-04-30",
                   group_by="ticker")

[*********************100%***********************]  2 of 2 completed

In [ ]:
data

                 AAPL                                                         \
                 Open       High        Low      Close  Adj Close     Volume
Date
2017-01-03  28.950001  29.082500  28.690001  29.037500  27.133329  115127600
2017-01-04  28.962500  29.127501  28.937500  29.004999  27.102959   84472400
2017-01-05  28.980000  29.215000  28.952499  29.152500  27.240784   88774400
2017-01-06  29.195000  29.540001  29.117500  29.477501  27.544476  127007600
2017-01-09  29.487499  29.857500  29.485001  29.747499  27.796768  134247600
...               ...        ...        ...        ...        ...        ...
2017-04-24  35.875000  35.987499  35.794998  35.910000  33.700638   68537200
2017-04-25  35.977501  36.224998  35.967499  36.132500  33.909443   75486000
2017-04-26  36.117500  36.150002  35.845001  35.919998  33.710022   80164800
2017-04-27  35.980000  36.040001  35.827499  35.947498  33.735825   56985200
2017-04-28  36.022499  36.075001  35.817501  35.912498  33.702972   83441600

                   SPY                                                  \
                  Open        High         Low       Close   Adj Close
Date
2017-01-03  225.039993  225.830002  223.880005  225.240005  202.856583
2017-01-04  225.619995  226.750000  225.610001  226.580002  204.063354
2017-01-05  226.270004  226.580002  225.479996  226.399994  203.901276
2017-01-06  226.529999  227.750000  225.899994  227.210007  204.630768
2017-01-09  226.910004  227.070007  226.419998  226.460007  203.955292
...                ...         ...         ...         ...         ...
2017-04-24  237.179993  237.410004  234.559998  237.169998  214.530228
2017-04-25  237.910004  238.949997  237.809998  238.550003  215.778488
2017-04-26  238.509995  239.529999  238.350006  238.399994  215.642792
2017-04-27  238.770004  238.949997  237.979996  238.600006  215.823700
2017-04-28  238.899994  238.929993  237.929993  238.080002  215.353378


               Volume
Date
2017-01-03   91366500
2017-01-04   78744400
2017-01-05   78379000
2017-01-06   71559900
2017-01-09   46939700
...               ...
2017-04-24  119209900
2017-04-25   76698300
2017-04-26   84702500
2017-04-27   57410300
2017-04-28   63532800

[81 rows x 12 columns]

In [ ]:
import yfinance as yf

tickers = yf.Tickers('msft aapl goog')

# access each ticker using (example)
tickers.tickers['MSFT'].info
tickers.tickers['AAPL'].history(period="1mo")
tickers.tickers['GOOG'].actions

Exception: ignored

In [ ]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info (slow)
#msft.info
# fast access to subset of stock info (opportunistic)
msft.fast_info

lazy-loading dict with keys = ['currency', 'dayHigh', 'dayLow', 'exchange', 'fiftyDayAverage', 'lastPrice', 'lastVolume', 'marketCap', 'open', 'previousClose', 'quoteType', 'regularMarketPreviousClose', 'shares', 'tenDayAverageVolume', 'threeMonthAverageVolume', 'timezone', 'twoHundredDayAverage', 'yearChange', 'yearHigh', 'yearLow']

In [ ]:

# get historical market data
hist = msft.history(period="1mo")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-13 00:00:00-05:00,266.971322,273.913924,266.482526,270.642120,44630900,0.00,0.0
2023-02-14 00:00:00-05:00,271.988772,274.283013,268.607227,271.490021,37047900,0.00,0.0
2023-02-15 00:00:00-05:00,268.320007,270.730011,266.179993,269.320007,28922400,0.68,0.0
2023-02-16 00:00:00-05:00,264.019989,266.739990,261.899994,262.149994,29603600,0.00,0.0
2023-02-17 00:00:00-05:00,259.390015,260.089996,256.000000,258.059998,30000100,0.00,0.0
2023-02-21 00:00:00-05:00,254.479996,255.490005,251.589996,252.669998,28397400,0.00,0.0
2023-02-22 00:00:00-05:00,254.089996,254.339996,250.339996,251.509995,22491100,0.00,0.0
2023-02-23 00:00:00-05:00,255.559998,256.839996,250.479996,254.770004,29219100,0.00,0.0
2023-02-24 00:00:00-05:00,249.960007,251.000000,248.100006,249.220001,24990900,0.00,0.0
2023-02-27 00:00:00-05:00,252.460007,252.820007,249.389999,250.160004,21190000,0.00,0.0
2023-02-28 00:00:00-05:00,249.070007,251.490005,248.729996,249.419998,22491000,0.00,0.0
2023-03-01 00:00:00-05:00,250.759995,250.929993,245.789993,246.270004,27565300,0.00,0.0
2023-03-02 00:00:00-05:00,246.550003,251.399994,245.610001,251.110001,24808200,0.00,0.0
2023-03-03 00:00:00-05:00,252.190002,255.619995,251.389999,255.289993,30741300,0.00,0.0
2023-03-06 00:00:00-05:00,256.429993,260.119995,255.979996,256.869995,24109800,0.00,0.0
2023-03-07 00:00:00-05:00,256.299988,257.690002,253.389999,254.149994,21473200,0.00,0.0
2023-03-08 00:00:00-05:00,254.039993,254.539993,250.809998,253.699997,17340200,0.00,0.0
2023-03-09 00:00:00-05:00,255.820007,259.559998,251.580002,252.320007,26653400,0.00,0.0
2023-03-10 00:00:00-05:00,251.080002,252.789993,247.600006,248.589996,28321800,0.00,0.0

In [ ]:
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': Timestamp('1986-03-13 09:30:00-0500', tz='America/New_York'),
 'regularMarketTime': Timestamp('2023-03-10 16:00:05-0500', tz='America/New_York'),
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 248.59,
 'chartPreviousClose': 263.1,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'start': Timestamp('2023-03-10 04:00:00-0500', tz='America/New_York'),
   'end': Timestamp('2023-03-10 09:30:00-0500', tz='America/New_York')},
  'regular': {'start': Timestamp('2023-03-10 09:30:00-0500', tz='America/New_York'),
   'end': Timestamp('2023-03-10 16:00:00-0500', tz='America/New_York')},
  'post': {'start': Timestamp('2023-03-10 16:00:00-0500', tz='America/New_York'),
   'end': Timestamp('2023-03-10 20:00:00-0500', tz='America/New_York')}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}

In [ ]:
msft.major_holders

        0                                      1
0   0.06%        % of Shares Held by All Insider
1  73.70%       % of Shares Held by Institutions
2  73.75%        % of Float Held by Institutions
3    6152  Number of Institutions Holding Shares

In [ ]:
msft.get_shares_full(start="2022-01-01", end=None)

2022-01-27 00:00:00-05:00    7496869888
2022-02-04 00:00:00-05:00    7800719872
2022-02-05 00:00:00-05:00    7496869888
2022-02-11 00:00:00-05:00    7496869888
2022-03-04 00:00:00-05:00    7605040128
2022-03-05 00:00:00-05:00    7496869888
2022-03-16 00:00:00-04:00    7595310080
2022-03-17 00:00:00-04:00    7496869888
2022-03-28 00:00:00-04:00    7507230208
2022-03-31 00:00:00-04:00    7496869888
2022-04-01 00:00:00-04:00    7631819776
2022-04-02 00:00:00-04:00    7496869888
2022-04-04 00:00:00-04:00    7496869888
2022-04-29 00:00:00-04:00    7479029760
2022-06-09 00:00:00-04:00    7536840192
2022-06-13 00:00:00-04:00    7479029760
2022-07-28 00:00:00-04:00    7464000000
2022-08-01 00:00:00-04:00    7457889792
2022-08-25 00:00:00-04:00    7475469824
2022-08-26 00:00:00-04:00    7457889792
2022-09-01 00:00:00-04:00    7457889792
2022-09-02 00:00:00-04:00    7488540160
2022-09-02 00:00:00-04:00    7457889792
2022-09-10 00:00:00-04:00    7290379776
2022-09-12 00:00:00-04:00    7457889792
2022-09-15 00:00:00-04:00    7451089920
2022-09-15 00:00:00-04:00    7457889792
2022-09-16 00:00:00-04:00    7665780224
2022-09-16 00:00:00-04:00    7457889792
2022-09-17 00:00:00-04:00    7457889792
2022-09-17 00:00:00-04:00    7477389824
2022-10-29 00:00:00-04:00    7454470144
2023-01-04 00:00:00-05:00    7461940224
2023-01-06 00:00:00-05:00    7454470144
2023-01-27 00:00:00-05:00    7443800064
2023-03-08 00:00:00-05:00    7523469824
2023-03-08 00:00:00-05:00    7443800064
2023-03-10 00:00:00-05:00    7443800064
2023-03-10 00:00:00-05:00    7484519936
dtype: int64

In [ ]:
msft.earnings_dates

                           EPS Estimate  Reported EPS  Surprise(%)
Earnings Date
2024-01-22 16:00:00-05:00           NaN           NaN          NaN
2024-01-22 05:00:00-05:00           NaN           NaN          NaN
2023-10-23 06:00:00-04:00           NaN           NaN          NaN
2023-07-24 06:00:00-04:00           NaN           NaN          NaN
2023-04-24 06:00:00-04:00          2.23           NaN          NaN
2023-01-24 11:00:00-05:00          2.30          2.32       0.0109
2022-10-25 12:00:00-04:00          2.30          2.35       0.0204
2022-07-26 12:00:00-04:00          2.29          2.23      -0.0275
2022-04-26 12:00:00-04:00          2.19          2.22       0.0160
2022-01-25 11:00:00-05:00          2.31          2.48       0.0727
2021-10-26 12:00:00-04:00          2.08          2.27       0.0940
2021-07-27 12:00:00-04:00          1.92          2.17       0.1326

In [ ]:
msft.options

('2023-03-17',
 '2023-03-24',
 '2023-03-31',
 '2023-04-06',
 '2023-04-14',
 '2023-04-21',
 '2023-05-19',
 '2023-06-16',
 '2023-07-21',
 '2023-08-18',
 '2023-09-15',
 '2023-10-20',
 '2024-01-19',
 '2024-06-21',
 '2024-12-20',
 '2025-01-17',
 '2025-06-20',
 '2025-12-19')

In [ ]:
import yfinance as yf

msft = yf.Ticker("MSFT")

# get all stock info (slow)
#msft.info
# fast access to subset of stock info (opportunistic)
msft.fast_info

# get historical market data
hist = msft.history(period="1mo")

# show meta information about the history (requires history() to be called first)
msft.history_metadata

# show actions (dividends, splits, capital gains)
msft.actions
msft.dividends
msft.splits
msft.capital_gains  # only for mutual funds & etfs

# show share count
# - yearly summary:
#msft.shares
# - accurate time-series count:
msft.get_shares_full(start="2022-01-01", end=None)

# show financials:
# - income statement
#msft.income_stmt
#msft.quarterly_income_stmt
# - balance sheet
#msft.balance_sheet
#msft.quarterly_balance_sheet
# - cash flow statement
#msft.cashflow
#msft.quarterly_cashflow
# see `Ticker.get_income_stmt()` for more options

# show holders
msft.major_holders
msft.institutional_holders
msft.mutualfund_holders

# show earnings
#msft.earnings
#msft.quarterly_earnings

# show sustainability
#msft.sustainability

# show analysts recommendations
#msft.recommendations
#msft.recommendations_summary


# Show future and historic earnings dates, returns at most next 4 quarters and last 8 quarters by default. 
# Note: If more are needed use msft.get_earnings_dates(limit=XX) with increased limit argument.
msft.earnings_dates


# show options expirations
msft.options

# show news
msft.news


# data available via: opt.calls, opt.puts

[{'uuid': '60d8877f-622c-3280-8919-c66a852f69fc',
  'title': '3 Top Tech Stocks to Buy During a Recession',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/60d8877f-622c-3280-8919-c66a852f69fc/3-top-tech-stocks-to-buy.html',
  'providerPublishTime': 1678627380,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/tSRQ6MNUFJKI1b80JxiTrg--~B/aD0yODgwO3c9NTEyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/1fa8ecafc28868507ab92a9ffad73c52',
     'width': 5120,
     'height': 2880,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/8L3VOHLf.j9GRhSr4MEFNw--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/1fa8ecafc28868507ab92a9ffad73c52',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT', 'T-PC', 'CRWD', 'AAPL']},
 {'uuid': 'a0aa174a-d5e0-388f-812a-89e5890dcbd5',
  'title': 'Better AI Stock: Amazon vs. Nvidia',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/a0aa174a-d5e0-388f-812a-89e5890dcbd5/better-ai-stock%3A-amazon-vs..html',
  'providerPublishTime': 1678624680,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/u3vQb6B.7VhguEqg8jElag--~B/aD0xMjcwO3c9MjM1OTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/9c02aa732b87263e3702f755b965fd96',
     'width': 2359,
     'height': 1270,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/1H4w5hSqxFGCgSLW4dkKeA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/9c02aa732b87263e3702f755b965fd96',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['NVDA', 'AMZN', 'MSFT']},
 {'uuid': '791e3510-eb7c-3d41-b4bd-ee860e81ce6e',
  'title': 'These 7 Dividend Stocks Pay $96 Billion a Year, Combined, to Their Shareholders',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/791e3510-eb7c-3d41-b4bd-ee860e81ce6e/these-7-dividend-stocks-pay.html',
  'providerPublishTime': 1678612860,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/cMEePU40HHVkcEgtVkBjnQ--~B/aD0xNDM1O3c9MjA4OTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/8cc564c63befd8b44585053cc994066e',
     'width': 2089,
     'height': 1435,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/LcK0Xm7P2tDJ2OlrBVwGWA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/8cc564c63befd8b44585053cc994066e',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AAPL', 'JNJ', 'MSFT', 'CVX', 'JPM', 'XOM', 'VZ']},
 {'uuid': 'c60157d7-6fd4-37e0-85d8-b974c8eab84a',
  'title': "Zoom's Growth Is Slowing but It's Not Done",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/c60157d7-6fd4-37e0-85d8-b974c8eab84a/zoom%27s-growth-is-slowing-but.html',
  'providerPublishTime': 1678546440,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/WychaJdF6gM26_m6CiF24g--~B/aD0xMDgwO3c9MTkyMDthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/9a5344dfd8f6c3753b2e375e9a87b63d',
     'width': 1920,
     'height': 1080,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/KJTT4CAjIbnTEToF5oPvyQ--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/9a5344dfd8f6c3753b2e375e9a87b63d',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['ZM', 'HD', 'GOOGL', 'MSFT', 'AAPL', 'AMZN']},
 {'uuid': 'c00cd7f1-b74f-396e-b43e-02d000628af4',
  'title': "Microsoft's AI Ambitions Go Way Beyond Bing",
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/c00cd7f1-b74f-396e-b43e-02d000628af4/microsoft%27s-ai-ambitions-go.html',
  'providerPublishTime': 1678538330,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/cDA7J.1wOxoV0PxH2oMOQQ--~B/aD03MjA7dz0xMjgwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a2a334bfeec318c854ac7a57a133be54',
     'width': 1280,
     'height': 720,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/SPTDH_E0L1oG391Y3fqjzA--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a2a334bfeec318c854ac7a57a133be54',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['MSFT']},
 {'uuid': 'd63210ba-77d7-376f-bef6-6229588e1dab',
  'title': 'Weekly Roundup',
  'publisher': 'TheStreet.com',
  'link': 'https://finance.yahoo.com/m/d63210ba-77d7-376f-bef6-6229588e1dab/weekly-roundup.html',
  'providerPublishTime': 1678492200,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/ewQjnXQ8otU7OLaOOrC91Q--~B/aD04MDA7dz0xMjAwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/2c7a8587db6dfb0418a7ae3bd621e1c3',
     'width': 1200,
     'height': 800,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/GkCJ6HDnZ1PsXGaoVzJA3w--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/thestreet.com/2c7a8587db6dfb0418a7ae3bd621e1c3',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['VZ',
   'SIVB',
   '^GSPC',
   'MA',
   'LMT',
   '^RUT',
   'AAPL',
   'MSFT',
   'GOOGL',
   'ELV',
   'MRVL',
   'PEP',
   'CHPT']},
 {'uuid': 'b390fde6-9c73-3c05-ad47-aea6671177b3',
  'title': '2 Hypergrowth Stocks to Buy in 2023 and Beyond',
  'publisher': 'Motley Fool',
  'link': 'https://finance.yahoo.com/m/b390fde6-9c73-3c05-ad47-aea6671177b3/2-hypergrowth-stocks-to-buy.html',
  'providerPublishTime': 1678485600,
  'type': 'STORY',
  'thumbnail': {'resolutions': [{'url': 'https://s.yimg.com/uu/api/res/1.2/.J7SvQ1VfP9D9l8gVSyBhg--~B/aD0xNDE0O3c9MjEyMTthcHBpZD15dGFjaHlvbg--/https://media.zenfs.com/en/motleyfool.com/a77a5f91420812f17b88b16ecc785818',
     'width': 2121,
     'height': 1414,
     'tag': 'original'},
    {'url': 'https://s.yimg.com/uu/api/res/1.2/TEK5Hc9ic1id1_zdkgIV.Q--~B/Zmk9ZmlsbDtoPTE0MDtweW9mZj0wO3c9MTQwO2FwcGlkPXl0YWNoeW9u/https://media.zenfs.com/en/motleyfool.com/a77a5f91420812f17b88b16ecc785818',
     'width': 140,
     'height': 140,
     'tag': '140x140'}]},
  'relatedTickers': ['AMD', 'MSFT']},
 {'uuid': 'a9d973c3-d6bd-3d0a-9231-00470a975777',
  'title': 'UPDATE 1-GM explores using ChatGPT in vehicles',
  'publisher': 'Reuters',
  'link': 'https://finance.yahoo.com/news/1-gm-explores-using-chatgpt-193159776.html',
  'providerPublishTime': 1678476719,
  'type': 'STORY',
  'relatedTickers': ['GM', 'MSFT']}]